.form-container {
    margin: 20px 0;
    width: 100%;
    max-width: 600px; /* Limit the form width for better readability */
  }
  
  .form-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .post-textarea,
  .datetime-input {
    width: calc(100% - 18px); /* Adjust width to account for padding and border */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .datetime-input {
    /* Add specific styling for datetime input if needed */
  }
  
  .submit-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  /* Style for disabled submit button */
  .submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  