.list-container {
    margin: 20px 0;
  }
  
  .fetch-button {
    padding: 8px 16px;
    font-size: 16px;
    color: #007bff; /* Change text color to blue */
    text-decoration: underline; /* Underline the text */
    background-color: transparent; /* Remove background color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .fetch-button:hover {
    color: #0056b3; /* Change text color on hover */
  }
  
  .posts-table {
    margin-top: 20px;
  }
  
  .table-header {
    font-weight: bold;
    font-size: 16px;
    padding: 8px; /* Add padding to the table header cells */
  }
  
  /* Add padding to all cells in the table body */
  .posts-table table td {
    padding: 8px;
  }
  